<head>
    <div class="this">
        <h2>Welcome <%=name%> <%=lastname%>, enjoy your calculations.</h2>
    </div>
</head>
<body>

    <link rel="stylesheet" type="text/css" href="css/calc.css">

    <form method="post" action="calculate">
        
        
        <div class="boxy">
        <div class="getnums">
            <input type="number" placeholder="Number" name="val1" required>
            <input type="number" placeholder="Number" name="val2" required>
        </div>

        <div class="opbuttons">
            <input name="operation" type="radio" value="add">Add
            <input name="operation" type="Radio" value="subtract">Subtract
            <input name="operation" type="Radio" value="multiply">Multiply
            <input name="operation" type="Radio" value="divide">Divide
        </div>
        </div>

        <button type="Submit">Calculate</button>
        
        <div class="answer">
		    
            <h3>
			    <% unless val1 == ""%>
			
			        <% if result == false%>
				        
                        <%= "cannot divide by zero" %>
			        
                    <% else%>

				        <%= val1%> <%= operation%> <%= val2%> = <%= result%>
			        
                    <% end %>

                <% end%>    
			</h3>

        </div>

    </form>

</body>

